@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Shizuru&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

.text-center {
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}

.name {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large;

}

.navbar-container {
    width: 100vw;
    position: fixed;
    background-color: #212529;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.navbar-content {
    font-family: Lato;
}

.navbar-logo {
    margin-left: 100px;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.navbar-logo::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.navbar-logo:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link {
    color: #FFFFFF8C;
    overflow: hidden;
    background: linear-gradient(to right, blue, blue 50%, #FFFFFF8C 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.nav-link:hover {
    background-position: 0 100%;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 10px;
}

#hero {
    height: 100vh;
    width: 100vw;
    background-image: url('../image/image_herobanner.jpg');
    background-size: cover;
}

.row {
    display: grid;
    grid-template-columns: 40% 60%;    
}

.left-side {
    /* background-color: yellow; */
    text-align: center;
}

.profile-pics {
    margin: 30px;
    width: 80%;
    height: auto;
}

.right-side {
    background-color: aqua;
}

.right-container {
    background-color: aquamarine;
    margin: 30px;
    margin-top: 50px;
}

.presentation-title {
    font-family: Montserrat;
    font-size: 2em;
}

.presentation-text {
    font-family: Lato;
    font-weight: 100;
}